body {
    background:linear-gradient(110deg,#fdcd3b 60%,#ffed4b 60%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
}

.wrapper {
    width: 800px;
    margin: 30px auto;
    color: rgb(2, 3, 15);
    text-align: center;
}

h1,h2,h3 {
    font-family:'Times New Roman', Times, serif;
    font-weight: 100;
    font-size: 2.6em;
    text-transform: uppercase;
}

#seconds ,#tens {
    font-size: 2em;    
}

button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline:none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}
button:hover{
    background-color: #3e8e41;
}
button:active{
    background-color:#3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY();
}